DATABASE_URL="mysql://ueilxwv3tvsfvlqf:K1VIaS62H5OLWw0A0AqT@bs2449wp1uajbhm1vfqv-mysql.services.clever-cloud.com:3306/bs2449wp1uajbhm1vfqv"
MONGODB_URI="mongodb+srv://admin:rRw4qPnLqBfWfUaq@stms-cluster.wx7qiyv.mongodb.net/stms_logs?retryWrites=true&w=majority&appName=stms-cluster"
JWT_SECRET="local-dev-secret-do-not-use-in-prod"
PORT=4000
FRONTEND_URL="http://localhost:3000"